/*fonts*/
@font-face {
    font-family: 'Arial';
    src: url(../../assets/fonts/arial/arial-italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Arial';
    src: url(../../assets/fonts/arial/arial-regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Arial';
    src: url(../../assets/fonts/arial/arial-bold.ttf);
    font-weight: 600;
    font-style: bold;
}
@font-face {
    font-family: 'Georgia';
    src: url(../../assets/fonts/georgia/georgia-italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Georgia';
    src: url(../../assets/fonts/georgia/georgia-regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src: url(../../assets/fonts/georgia/georgia-bold.ttf);
    font-weight: 600;
    font-style: bold;
}
/*settings*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    overflow-y: scroll;
}
body.block {
    overflow-y: hidden;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}
.text {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}
.btn{
    width: 207px;
    height: 52px;
    background-color: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #292929;
    letter-spacing: 1px;
    border: none;
}
.btn:hover {
    background: #FDDCC4;
}
.overlay {
    cursor: pointer;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(41, 41, 41, 0.6);
}
.overlay-active {
    display: block;
}
.burger {
    display: none;
}
.tittle-h2 {
    font-family: Georgia;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    line-height: 130%;
    color: #CDCDCD;
    color: #545454;
    letter-spacing: 1.8px;/*1.5px*/
}
/*only*/
.only {
    position: relative;
    width: 100%;
    background: url(../../assets/img/png/noise.png) repeat,radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}
.only__container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    align-items: end;
}
.only__tittle{
    color: #FFFFFF;
    width: 310px;
    font-family: Georgia;
    font-weight: 400;
    font-style: normal;
    font-size: 44px;
    line-height: 57px;
    margin-bottom: 41px;/*40px*/
}
.only-text {
    width: 460px;
    margin-bottom: 42px;/*40px*/
}
.btn__only {
    margin-bottom: 242px;/*240px*/
}
.btn__only a {
    padding-top: 14px;
    display: block;
    width: 100%;
    height: 52px;
    color: #292929;
    text-align: center;
}
/*header*/
.header {
    position: relative;
    width: 100%;
    padding: 60px 0;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo*/
.logo__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
}
.logo-tittle{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
    letter-spacing: 1.8px;
}
.logo-text{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 1.3px;
    text-align: center;
}
/*logo end*/
.nav__list{
    display: flex;
    flex-direction: row;
    gap: 35px;
}
.nav__item-active {
    border-bottom: 3px solid #F1CDB3;
}
.nav__item:hover {
    transform: scale(1.1);
}
.nav__item-active:hover {
    transform: none;
}
.nav__link-active {
    color: #FAFAFA;
}
.nav__link:hover {
    color: #FAFAFA;
}
/*about*/
.about {
    position: relative;
}
.about__container{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    gap: 120px;
    padding: 80px 0 100px 0;
}
.about__container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    width: 430px;
}
.about__container-text .text {
    color: #4C4C4C;
}
.about-text-two {
    margin-bottom: 10px;
}
/*friends*/
.friends{
    background: #F6F6F6;
    width: 100%;
    padding: 80px 0 100px 0;
}
.friends__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.friends .tittle-h2{
    text-align: center;
}
.btn__friends{
    width: 260px;
}
.friends__container__cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.arrow {
    cursor: pointer;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
}
.arrow:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.arrow-left{
    background: url(../../assets/img/png/Arrow-left.png) no-repeat center;
}
.arrow-right{
    background: url(../../assets/img/png/Arrow-right.png) no-repeat center;
}
.friends__window{
    position: relative;
    width: 996px;
    height: 439px;
    overflow: hidden;
   /* padding-left: 3px;*/
}
.carousel_actual {
    position: absolute;
    animation: 1s ease-in-out;
}
.carousel_next {
    position: absolute;
    right: -990px;
    animation: 1s ease-in-out;
}
.friends_slider {
    display: flex;
    flex-direction: row;
    gap: 90px;
    justify-content: space-between;
    width: 990px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.friends_slider:first-child {
    margin-left: 3px;
}
.friends__card{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    background: #FAFAFA;
    width: 270px;
    height: 435px;
}
.friends__card-pic{
    width: 100%;
}
.friend-name{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #545454;
}
.btn-friend {
    background-color: #FAFAFA;
    border: solid 2px #F1CDB3;
    width: 187px;
    font-family: Georgia;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #292929;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 32px;
}
.friends__card:hover{
    cursor: pointer;
    background: #FFFFFF;
    box-shadow:
                -5px -5px 2px -1px rgba(211, 100, 159, 0.5),
                -5px 5px 2px -1px rgba(95, 115, 186, 0.5),
                5px -5px 2px -1px rgba(248, 84, 84, 0.708),
                5px 5px 2px -1px rgba(70, 145, 80, 0.5)

}
.friends__card:hover .friend-name {
    transform: scale(1.2);
    text-shadow: #4c4c4ca5 4px 4px 3px;
}
.friends__card:hover .btn-friend{
    cursor: pointer;
    border: #FDDCC4;
    background-color: #FDDCC4;
}
/* create my animation*/
.to-left {
    animation-name: left;
}
.from-right {
    animation-name: right;
}
.to-right {
    animation-name: right;
    animation-direction: reverse;
}
.from-left {
    animation-name: left;
    animation-direction: reverse;
}
@keyframes left {
    from {
      left: 0;
    }
    to {
      left: -104%;
    }
}
@keyframes right {
    from {
      left: 104%;
    }
    to {
      left: 0;
    }
}
.modal {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.modal-active {
    display: block;
}
.modal__container {
    display: flex;
    flex-direction: row;
    background-color: #FAFAFA;
    border-radius: 9px;
    width: 900px;
    height: 500px;
}
.modal__container-pic {
    width: 500px;
    height: 500px;
}
.modal-pic {
    width: 100%;
    height: auto;
}
.modal__container-text {
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
}
.modal-tittle, .modal-subtittle, .modal-text,
.modal-item-text{
    color: #000000;
    text-align: left;
    font-family: Georgia;
    letter-spacing: 0.8px;
    font-weight: 400;
    font-style: normal;
}
.modal__container-text .modal-tittle {
    margin-bottom: 10px;
    text-align: left;
}
.modal-subtittle {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 40px;
}
.modal-text {
    margin-bottom: 40px;
}
.modal-text, .modal-list-item {
    font-size: 15px;
    line-height: 17px;
}
.modal-list b {
    font-weight: 600;
    font-family: Georgia;
    text-transform: capitalize;
}
.modal-list-item {
    margin-bottom: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.modal-point {
    background-color: #F1CDB3;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-right: 10px;
}
.modal__close {
    position: absolute;
    top: -52px;
    right: -52px;
    width: 52px;
    height: 52px;
    border: solid 2px #F1CDB3;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.modal__close::before {
    content: '';
    background: url(../../assets/img/png/modal-close.svg) no-repeat center;
    width: 12px;
    height: 12px;
}
.modal__close:hover {
    background-color: #F1CDB3;
}

/*help*/
.help__container {
    padding: 80px 0 100px 0;
}
.help__container .tittle-h2{
    text-align: center;
    margin-bottom: 60px;
}
.help__container-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 87px;
    gap: 55px 120px;
    align-items: center;
    justify-content: center;
}
.help-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.help-icon-text{
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    color: #545454;
    letter-spacing: 1px;
    text-align: center;
}
.help-icon-pic-1 {
    background: url(../../assets/img/png/help-1.svg) no-repeat center;
    width: 48px;
    height: 60px;
}
.help-icon-pic-2 {
    background: url(../../assets/img/png/help-2.svg) no-repeat center;
    width: 59.95px;
    height: 60px;
}
.help-icon-pic-3 {
    background: url(../../assets/img/png/help-3.svg) no-repeat center;
    width: 60px;
    height: 60px;
}
.help-icon-pic-4 {
    background: url(../../assets/img/png/help-4.svg) no-repeat center;
    width: 60px;
    height: 60px;
}
.help-icon-pic-5 {
    background: url(../../assets/img/png/help-5.svg) no-repeat center;
    width: 31.3px;
    height: 60px;
}
.help-icon-pic-6 {
    background: url(../../assets/img/png/help-6.svg) no-repeat center;
    width: 60px;
    height: 60px;
}
.help-icon-pic-7 {
    background: url(../../assets/img/png/help-7.svg) no-repeat center;
    width: 60px;
    height: 60px;
}
.help-icon-pic-8 {
    background: url(../../assets/img/png/help-8.svg) no-repeat center;
    width: 60px;
    height: 60px;
}
.help-icon-pic-9 {
    background: url(../../assets/img/png/help-9.svg) no-repeat center;
    width: 58px;
    height: 60px;
}
/*addition*/
.addition{
    background: #F6F6F6;
}
.addition__container {
    padding: 80px 0 100px 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.addition-pic{
    width: 505px;
    height: 261px;
}
.addition__container-desc {
    align-self: self-end;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 380px;
}
.bank-name{
    font-family: Georgia;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    color: #545454;
    letter-spacing: 1.1px;
}
.addition-card-container{
    display: flex;
    padding: 10px 15px;
    gap: 15px;
    width: 349px;
    height: 43px;
    background-color: #F1CDB3;
    border-radius: 7px;
    cursor: pointer;
}
.addition-card-container:hover {
    background-color: #FDDCC4;
}
.addition-card-icon{
    width: 31px;
    height: 23px;
    background: url(../../assets/img/png/adddition-icon.svg) no-repeat center;
}
.addition-card-text a{
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    color: #545454;
    letter-spacing: 1.1px;
}
.addition-text{
    font-family: Arial;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #B2B2B2;
    width: 380px;
}
/*footer*/
.footer {
    width: 100%;
    position: relative;
    background: url(../../assets/img/png/noise.png) repeat,radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    height: 350px;
}
.footer__container{
    padding-top: 39px;
    display: flex;
    flex-direction: row;
    gap: 160px;
    justify-content: space-between;
}
.footer__container-pic{
    min-width: 300px;
    height: 310px;
}
.footer-pic{
    width: 100%;
}
.footer__container-desc{
    display: flex;
    flex-direction: row;
    gap: 160px;
}
.footer__container-questions, .footer__container-waiting {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 60px;
    justify-content: space-between;
}
.footer__container-questions {
    gap: 43px;
}
.footer__container-waiting {
    gap: 32px;
}
.footer-subtittle {
    font-family: Georgia;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    color: #FFFFFF;
    letter-spacing: 2px;
    width: 279px;
}
.footer__container-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: left;
}
.footer-text {
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    color: #F1CDB3;
    letter-spacing: 1.2px;
}
.footer-questions-icon-1{
    background: url(../../assets/img/png/footer-mail.svg)no-repeat center;
    width: 40px;
    height: 26px;
}
.footer-questions-icon-2{
    background: url(../../assets/img/png/footer-phone.svg)no-repeat center;
    width: 40px;
    height: 32px;
}
.footer-waiting-icon-1 {
    background: url(../../assets/img/png/footer-pin.svg)no-repeat center;
    min-width: 23px;
    height: 32px;
}
/*end*/
/**media*/
/*remove all after that @media screen and (min-width: 768px) and (max-width: 1279.9px)...*/
