.table {
  margin: 20px 0;
}

.sort {
  cursor: pointer;
  user-select: none;
}

.car-tr {
  position: relative;
  height: 40px;
}

td .car {
  position: static;
  width: 50px !important;
  height: 50px !important;
}

th {
  border-bottom: 1px solid #242fff;
  padding: 10px;
  text-align: center;
}

td {
  text-align: center;
  vertical-align: middle;
}

tr:nth-child(even) {
  background: rgba(84, 84, 84, 0.179);
}

tr:first-child {
  background: none;
}

.table_number {
  width: 20px;
}

.table_car {
  width: 60px;
}

.table_name {
  min-width: 60px;
  max-width: 150px;
}

.ASC .table_time-order::after, .ASC .table_wins-order::after {
  content: '↑';
}
