* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #3e392f;
  color: rgba(255,255,255,.6);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 5%;
}

/*main*/

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.game {
  width: 75vw;
  height: 95vh;
}

.levels {
  width: 25vw;
  height: 95vh;
  background-color: #221e18;
}

.game__window {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.game__code {
  width: 100%;
  height: 47%;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  padding: 0 3%;
}

.input-window {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 5px;
  background: rgb(179, 179, 179);
  overflow: hidden;
}

.html-window {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  background-color: #221e18;
}

/*prompt window*/

.prompt {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1% 0;
  bottom: -50%;
  width: 60%;
  height: auto;
  border-radius: 10px;
  background: rgba(38, 255, 0, 0.489);
  border: 1px solid rgb(38, 255, 0);
  transition: 1s ease;
}

.prompt-active {
  bottom: 10%;
}

.prompt p {
  color: #221e18;
  margin-bottom: 5px;
}

.prompt-text {
  text-align: center;
  color: rgb(84, 2, 2);
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
}

.prompt-active .prompt-text {
  animation: animated-text 2s steps(30,end) 0.5s 1 normal both;
}

/*footer*/

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5vh;
  background-color: #221e18;
}

.footer__img-rsschool {
  width: auto;
  height: 4vh;
}

.footer__img-github {
  width: auto;
  height: 4vh;
}

/*animation for wrong answer*/

.shake {
  animation: shake 0.5s linear;
  overflow: hidden;
}

@keyframes shake {
  0% {
      transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
      transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
      transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
      transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
      transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
      transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
      transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
      transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
      transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
      transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
      transform: translate(1px, -2px) rotate(-1deg);
  }
}


/*
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');*/

.task-desc {
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  animation: animated-text 1s steps(30,end) 0.5s 1 normal both;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 100%;}
}


@media (max-width: 740px) {
  .game__code {
    grid-template-columns: 1fr 1fr;
  }
  .task-desc {
    font-size: 15px;
  }
  .html-window {
    font-size: 14px;
  }
}