/*font*/



/*settings*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    overflow-y: scroll;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}
.text {
    font-family: Arial;
    font-style: ;          /**/
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}
.btn{
    width: 207px;
    height: 52px;
    background-color: #F1CDB3;
    border-radius: 100px;
    font-family: Georgia;
    font-size: 17px;
    line-height: 130%;
    color: #292929;
    letter-spacing: 1px;
    border: none;
}
.btn:hover {
    background: #FDDCC4;
}
.overlay {
    width: 100%;
    height: 100%;
    display: none;
}
.tittle-h2 {
    font-family: Georgia;
    font-weight: 400;          /**/
    font-size: 35px;
    line-height: 130%;
    color: #CDCDCD;
    color: #545454;
    letter-spacing: 1.2px;
}
/*only*/
.only {
    position: relative;
    width: 100%;
    background: url(../../assets/img/start-screen-gradient-background.png)no-repeat center/cover;
    overflow-x: hidden;
}
.only__container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    align-items: end;
}
.only__tittle{
    color: #FFFFFF;
    width: 310px;
    font-family: Georgia;
    font-style: ;          /**/
    font-size: 44px;
    line-height: 57px;
    line-height: 130%;
    margin-bottom: 40px;
}
.only-text {
    width: 460px;
    margin-bottom: 40px;
}
.btn__only {
    margin-bottom: 240px;
}
.btn__only a {
    padding: 14px;
    display: block;
    width: 200px;
    height: 52px;
    color: #292929;
}
/*header*/
.header {
    position: relative;
    width: 100%;
    padding: 60px 0;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo*/
.logo__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #FFFFFF
}
.logo-tittle{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
    letter-spacing: 1.8px;
}
.logo-text{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.4px;
}
/*logo end*/
.nav__list{
    display: flex;
    flex-direction: row;
    gap: 35px;
}
.nav__item-active {
    border-bottom: 3px solid #F1CDB3;
}
.nav__link-active {
    color: #FAFAFA;
}
.nav__link:hover {
    color: #FAFAFA;
}
/*about*/
.about {
    position: relative;
}
.about__container{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    gap: 120px;
    padding: 80px 0 100px 0;
}
.about__container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    width: 430px;
}
.about__container-text .text {
    color: #4C4C4C;
}
.about-text-two {
    margin-bottom: 10px;
}
/*friends*/
.friends{
    background: #F6F6F6;
    width: 100%;
    padding: 80px 0 100px 0;
}
.friends__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.friends .tittle-h2{
    text-align: center;
}
.btn__friends{
    width: 260px;
}
.friends__container__cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.arrow {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
}
.arrow:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.arrow-left{
    background: url(../../assets/img/png/Arrow-left.png) no-repeat center;
}
.arrow-right{
    background: url(../../assets/img/png/Arrow-right.png) no-repeat center;
}
.friends__window{
    position: relative;
    width: 990px;
    height: 435px;
    overflow: hidden;
}
.carousel_actual {
    position: absolute;
    animation: 1s ease-in-out;
}
.carousel_next {
    position: absolute;
    right: -990px;
    animation: 1s ease-in-out;
}
.friends_slider {
    display: flex;
    flex-direction: row;
    gap: 90px;
    justify-content: space-between;
    width: 100%;
}
.friends__card{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    height: 100%;
    background: #FAFAFA;
    width: 270px;
}
.friends__card-pic{
    width: 100%;
}
.friend-name{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #545454;
}
.btn-friend {
    background-color: #FAFAFA;
    border: solid 2px #F1CDB3;
    width: 187px;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    color: #292929;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 32px;
}
.btn-friend:hover {
    border: #FDDCC4;
}
/* create my animation*/
.to-left {
    animation-name: left;
}
.from-right {
    animation-name: right;
}
.to-right {
    animation-name: right;
    animation-direction: reverse;
}
.from-left {
    animation-name: left;
    animation-direction: reverse;
}
@keyframes left {
    from {
      left: 0;
    }
    to {
      left: -104%;
    }
}
@keyframes right {
    from {
      left: 104%;
    }
    to {
      left: 0;
    }
}
/*help*/
.help__container {
    padding: 80px 0 100px 0;
}
.help__container .tittle-h2{
    text-align: center;
    margin-bottom: 60px;
}
.help__container-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 87px;
    gap: 55px 120px;
    align-items: center;
    justify-content: center;
}
.help-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.help-icon-text{
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #545454;
    letter-spacing: 1.1px;
    text-align: center;
}
.help-icon-pic-1 {
    background: url(../../assets/img/png/help-1.svg) no-repeat center;
    width: 48px;
    height: 60px;
}
.help-icon-pic-2 {
    background: url(../../assets/img/png/help-2.svg) no-repeat center;
    width: 59.95px;
    height: 60px;
}
.help-icon-pic-3 {
    background: url(../../assets/img/png/help-3.svg) no-repeat center;
    width: 60px;
    height: 60px;
}
.help-icon-pic-4 {
    background: url(../../assets/img/png/help-4.svg) no-repeat center;
    width: 60px;
    height: 60px;
}
.help-icon-pic-5 {
    background: url(../../assets/img/png/help-5.svg) no-repeat center;
    width: 31.3px;
    height: 60px;
}
.help-icon-pic-6 {
    background: url(../../assets/img/png/help-6.svg) no-repeat center;
    width: 60px;
    height: 60px;
}
.help-icon-pic-7 {
    background: url(../../assets/img/png/help-7.svg) no-repeat center;
    width: 60px;
    height: 60px;
}
.help-icon-pic-8 {
    background: url(../../assets/img/png/help-8.svg) no-repeat center;
    width: 60px;
    height: 60px;
}
.help-icon-pic-9 {
    background: url(../../assets/img/png/help-9.svg) no-repeat center;
    width: 58px;
    height: 60px;
}
/*addition*/
.addition{
    background: #F6F6F6;
}
.addition__container {
    padding: 80px 0 100px 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.addition-pic{
    width: 505px;
    height: 261px;
}
.addition__container-desc {
    align-self: self-end;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 380px;
}
.bank-name{
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    color: #545454;
    letter-spacing: 1.1px;
}
.addition-card-container{
    display: flex;
    padding: 10px 15px;
    gap: 15px;
    width: 349px;
    height: 43px;
    background-color: #F1CDB3;
    border-radius: 7px;
}
.addition-card-icon{
    width: 31px;
    height: 23px;
    background: url(../../assets/img/png/adddition-icon.svg) no-repeat center;
}
.addition-card-text{
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #545454;
    letter-spacing: 1.1px;
}
.addition-text{
    font-family: Arial;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #B2B2B2;
    width: 380px;
}






