.sources {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 5px;
  width: 90%;
  height: 100px;
  overflow: auto;
  align-items: center;
  font: 300 1em 'Fira Sans', sans-serif;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.63), 1px 1px 5px rgb(35, 35, 35);
}

.sources::-webkit-scrollbar {
  margin-top: 5px;
  width: 5px;
  background-color: #343434;
}

.sources::-webkit-scrollbar-thumb {
  background-color: #dce4eb;
  border-radius: 10px;
}

.sources::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 3px rgba(202, 228, 225, 0.98);
}

.source__item {
  background: none;
  border: 2px solid #30c5ff;
  font: inherit;
  line-height: 1;
  margin: 0.4em;
  padding: 0.8em 1.8em;
  color: #70d6ff;
  transition: 0.25s;
  cursor: pointer;
}

.source__item:hover,
.source__item:focus {
  border-color: #3fcc59;
  color: #69db7e;
  box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
  transform: translateY(-0.25em);
}

.active {
  color: #1af442;
}

.source__item-name {
  font-weight: 400;
  white-space: nowrap;
}

@media (max-width: 640px){
  .sources {
    width: 95%;
  }
}

@media (max-width: 480px){
  .sources {
    height: 70px;
  }
  .source__item {
    font-size: 12px;
    margin: 0.2em;
    padding: 0.5em 1em;
  }
}