.modal {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 300px;
  height: 300px;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.756);
}

.modal-active {
  display: flex;
}

.modal-tittle {
  text-align: center;
  font-size: 24px;
  font-weight: 800;
}

.mssg {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}