body {
  box-sizing: border-box;
  font-size: 14px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  background-color: rgba(34, 34, 34, 0.921);
}

nav {
  position: relative;
  z-index: 5;
  margin-top: 20px;
  gap: 1px;
}

.btn-page {
  padding: 0.6rem;
  width: 100px;
  font-size: 18px;
  text-align: center;
  border: 2px solid rgb(34, 34, 34);
  border-radius: 5px;
  background-color: rgba(34,34,34,.85);
  border-bottom: none;
  opacity: 0.7;
  cursor: pointer;
  user-select: none;
}

.garage-active .to-garage,
.winners-active .to-winners{
  border: 2px solid #242fff;
  border-bottom: none;
  opacity: 1;
}

main {
  border: 2px solid #242fff;
  background-color: rgba(34,34,34,.85);
  border-radius: 5px;
  padding: 10px 10px 0 10px;
  overflow-x: hidden
}


