.level {
  display: flex;
  align-items: center;
  color: rgba(255,255,255,.6);
  font-weight: 600;
  padding: 8px 0 8px 30px;
  cursor: pointer;
}

.level:hover {
  background-color: #2e2922;
}

.active, .active:hover {
  background-color: #81796b39;
}

.done::after {
  content: '';
  background: url(./img/complete.png) no-repeat center;
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.done {
  color: #65E04D;
}

.clue::after {
  content: '';
  background: url(./img/clue.png) no-repeat center;
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.clue {
  color: #d32822;
}

.task-desc {
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  color:  #2e2922;
}

.second {
  padding-left: 10px;
}
.third {
  padding-left: 20px;
}

.third {
  padding-left: 10px;
}

/*special selectors*/

.animal {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 30px;
  transition: 2s ease;
}

catBlack {
  background-image: url(./img/catBlack.png);
}

catWhite {
  background-image: url(./img/cat-light.png);
}

dogBlack {
  background-image: url(./img/dog-black.png);
}

dogWhite {
  background-image: url(./img/dog-light.png);
}

elk {
  background-image: url(./img/elk.png);
}

hare {
  background-image: url(./img/hare.png);
}

hedgehog {
  background-image: url(./img/hedgehog.png);
}

bigHouse {
  position: relative;
  background: url(./img/bigHouse.png) no-repeat center;
  width: 452px;
  height: 379px;
}

bigHouse .cat {
  top: 50%;
  left: 34%;
}

bigHouse .right-animal {
  top: 19%;
  left: 50%;
}

house, houseDark {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 180px;
  height: 140px;
  z-index: 1;
  opacity: 0.8;
}

house .animal, houseDark .animal{
  position: absolute;
  top: 45%;
  left: 30%;
  z-index: 100;
  height: 60px;
  width: 60px;
}

house {
  background: url(./img/house.png) no-repeat center;
}

houseDark {
  background: url(./img/houseDark.png) no-repeat center;
}

.animate {
  animation: 1.5s jerking infinite;
}

.fly {
  top: -500%;
}

/*highlight code*/

.container:hover {
  color: rgb(238, 232, 232);
}
.container:hover * {
  color: rgba(255,255,255,.6);
}
.second:hover, .third:hover {
  color: rgb(238, 232, 232);
}
.container:has(.second:hover){
  color: rgba(255,255,255,.6);
}
.id {
  color: rgb(85, 130, 98);
}
.class {
  color: rgb(137, 135, 68);
}
.second:hover .id {
  color: rgb(58, 108, 72);
}
.second:hover .class {
  color: rgb(125, 101, 47);
}

@keyframes jerking {
  0% {
    transform: skew(3deg, 0deg) scaleX(1);
  }
  10% {
    transform: skew(3deg, 0deg) scaleY(0.8);
  }
  50% {
    transform: skew(-3deg, 0deg) scaleX(1);
  }
  60% {
    transform: skew(-3deg, 0deg) scaleY(0.8);
  }
  100% {
    transform: skew(3deg, 0deg) scaleX(1);
  }
}

@keyframes jerkingSmall {
  0% {
    transform: skew(2deg, 0deg) scaleX(0.7);
  }
  10% {
    transform: skew(2deg, 0deg) scaleY(0.6);
  }
  50% {
    transform: skew(-2deg, 0deg) scaleX(0.7);
  }
  60% {
    transform: skew(-2deg, 0deg) scaleY(0.6);
  }
  100% {
    transform: skew(2deg, 0deg) scaleX(0.7);
  }
}




body:has(.one:hover) .one {
  box-shadow: 0px 5px 10px -10px #000, 0px 0px 10px 5px #fff;
  transition: 1s ease;
  display: block;
}

body:has(.bigHouse:hover) .bigHouse {
  box-shadow: none;
  transition: 1s ease;
  display: block;
}

body:has(.two:hover) .two {
  box-shadow: 0px 5px 10px -10px #000, 0px 0px 10px 5px #fff;
  transition: 1s ease;
  display: block;
}


body:has(.three:hover) .three {
  box-shadow: 0px 5px 10px -10px #000, 0px 0px 10px 5px #fff;
  transition: 1s ease;
  display: block;
}

body:has(.four:hover) .four {
  box-shadow: 0px 5px 10px -10px #000, 0px 0px 10px 5px #fff;
  transition: 1s ease;
  display: block;
}

body:has(.five:hover) .five {
  box-shadow: 0px 5px 10px -10px #000, 0px 0px 10px 5px #fff;
  transition: 1s ease;
  display: block;
}

body:has(.six:hover) .six {
  box-shadow: 0px 5px 10px -10px #000, 0px 0px 10px 5px #fff;
  transition: 1s ease;
  display: block;
}

/*tooltip*/
.tooltip {
  position: fixed;
  top: 70px;
  left: 35%;
  display: none;
  text-align: center;
  width: 170px;
  font-size: 15px;
  transition: none;
  font-weight: 600;
  background-color: #2e2922;
  z-index: 15;
}
