.level {
  display: flex;
  align-items: center;
  color: rgba(255,255,255,.6);
  font-weight: 600;
  padding: 8px 0 8px 30px;
  cursor: pointer;
}

.level:hover {
  background-color: #2e2922;
}

.active, .active:hover {
  background-color: #4e3006;
}

.completed::after {
  content: '';
  /*добавить галочку (поменять картинку)*/
  background: url(./img/cat-light.png) no-repeat center;
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.task-desc {
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  color:  #2e2922;
}

.second {
  padding-left: 10px;
}
.third {
  padding-left: 20px;
}

.third {
  padding-left: 10px;
}

/*special selectors*/

.animal {
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

catBlack {
  background-image: url(./img/catBlack.png);
}

catWhite {
  background-image: url(./img/cat-light.png);
}

dogBlack {
  background-image: url(./img/dog-black.png);
}

dogWhite {
  background-image: url(./img/dog-light.png);
}

house {
  position: relative;
  display: block;
  background: url(./img/house.png) no-repeat center;
  width: 100px;
  height: 100px;
  z-index: 1;
  opacity: 0.8;
}

house * {
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: 100;
  height: 60px;
  width: 60px;
  transform: translate(-50%, -40%);
}
houseDark {
  background: url(./img/houseDark.png) no-repeat center;
  width: 100px;
  height: 100px;
}

.animate {
  animation: 1s jerking infinite;
}


/*
catBlack{
  filter: drop-shadow(2px 0px 2px currentColor) drop-shadow(-2px 0px 2px currentColor);
}*/

/*highlight code*/

.container:hover {
  color: rgb(238, 232, 232);
  cursor: pointer;
}
.container:hover * {
  color: rgba(255,255,255,.6);
}
.second:hover, .third:hover {
  color: rgb(238, 232, 232);
  cursor: pointer;
}
.container:has(.second:hover){
  color: rgba(255,255,255,.6);
}
.id {
  color: rgb(85, 130, 98);
}
.second:hover .id {
  color: rgb(58, 108, 72);
}


@keyframes jerking {
  0% {
    transform: skew(3deg, 0deg) scaleX(1);
  }
  10% {
    transform: skew(3deg, 0deg) scaleY(0.8);
  }
  50% {
    transform: skew(-3deg, 0deg) scaleX(1);
  }
  60% {
    transform: skew(-3deg, 0deg) scaleY(0.8);
  }
  100% {
    transform: skew(3deg, 0deg) scaleX(1);
  }
}